@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: white;
  margin: 0;
}
.CategoriesPage{
  width: 100vw;
  height: 100vh;
  
}
.header{
  width: 100%;
  padding: 30px;
  padding-left: 50px;
  padding-right: 50px;
  
}
.navigation{
  display: flex;
}
.navigation a{
  margin-right: 30px;
  text-decoration: none;
  color: black;
  padding-bottom: 30px;
}
.navigation a:hover{
  color: #5ece7b; 
  border-bottom:solid 2px #5ece7b;
}
